


<div class="secciones-container">
  <div class="row">
    <div class="col-4">
      <div class="pruebaSeccion" data-aos="flip-up" data-aos-duration="1500">
        <div class="cajaSeccion">
          <a href="/admin/novedades">
            <i class="far fa-newspaper"></i>
            <br>
            <h4>Novedades</h4>
            <p>Agregar, modificar o eliminar novedades</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
        <div class="pruebaSeccion" data-aos="flip-up" data-aos-duration="1500">
          <div class="cajaSeccion">
            <a href="/admin/eventos">
              <i class="fas fa-ticket-alt"></i>
              <br>
              <h4>Eventos</h4>
              <p>Agregar, modificar o eliminar eventos</p>
            </a>
          </div>
        </div>
    </div>
    <div class="col-4">
      <div class="pruebaSeccion" data-aos="flip-up" data-aos-duration="1500">
        <div class="cajaSeccion">
          <a href="/admin/lanzamientos">
            <i class="fas fa-compact-disc"></i>
            <br>
            <h4>Lanzamientos</h4>
            <p>Agregar, modificar o eliminar lanzamientos</p>
          </a>
        </div>
      </div>
    </div>

    
  </div>

</div>