


    <div class="bienvenidos-container" data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back"
     data-aos-delay="300"
     data-aos-offset="0">

        <div>
            <h2>Bienvenidos</h2>
            <div>
                <a href="/admin/login"><button>Login</button></a>
            </div>

        </div>

    </div>
